html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Verdana, Arial, sans-serif;
  background-color: #eee;
}

.AppNav {
  background: #a82e2e;
  border: #a82e2e;
  width: 100%;
  border-radius: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #ffe !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #862424;
}

.ss-brand {
  cursor: pointer;
  font-family: "Brush Script MT";
  font-size: 2em;
  color: white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #222;
  color: #efefef;
  text-align: center;
}

.main-form {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

@font-face{
  font-family:"Brush Script MT";
  src:url("/fonts/brush.ttf");
}